<a href="https://colab.research.google.com/github/Arpitam1991/Data-Engineering-2-codes/blob/main/CaseStudy1_Merging_Error_(mel_mes)_with_Production_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Mounting google drive in colab
from google.colab import drive
import os
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
import datetime

In [ ]:
import numpy as np

In [ ]:
#importing timestamp_kris file from google drive
mel_mes=pd.read_csv('gdrive/My Drive/mel_mes.csv', encoding = 'unicode_escape', on_bad_lines='skip', delimiter=',')
mel_mes

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ï»¿,Lfd./ Q-Meldung,Datum,Abt.,Maschine,Schicht,Artikelbezeichnung,FA,Kunde,Farb-/Dekornummer,...,FA_MAX,FA_MIN,ANZAHL,PrÃ¼fplan-Nr,REZG,REZF,MAT_BREITE,MFR_WERT,MAT_OBFL,MAT_DICKE
0,0,798305.0,03.01.2022 21:19:58,QS,KAL11,D,SK-P-OL-COLORLESS-MATT-1630MM,110252869,Avery GRS-Plant Soignies Mactac,02.04.99/000002-00 - SK-P-OL-COLORLESS-MATT-16...,...,70.0,70.0,1,1004186-00-0,1.040000e+16,2.050000e+16,1630,76,504000,70
1,1,798305.0,03.01.2022 21:19:58,QS,KAL11,D,SK-P-OL-COLORLESS-MATT-1630MM,110252869,Avery GRS-Plant Soignies Mactac,02.04.99/000002-00 - SK-P-OL-COLORLESS-MATT-16...,...,70.0,70.0,1,1004186-00-0,1.040000e+16,2.050000e+16,1630,76,504000,70
2,2,798305.0,03.01.2022 21:19:58,QS,KAL11,D,SK-P-OL-COLORLESS-MATT-1630MM,110252869,Avery GRS-Plant Soignies Mactac,02.04.99/000002-00 - SK-P-OL-COLORLESS-MATT-16...,...,70.0,70.0,1,1004186-00-0,1.040000e+16,2.050000e+16,1630,76,504000,70
3,3,798305.0,03.01.2022 21:19:58,QS,KAL11,D,SK-P-OL-COLORLESS-MATT-1630MM,110252869,Avery GRS-Plant Soignies Mactac,02.04.99/000002-00 - SK-P-OL-COLORLESS-MATT-16...,...,-2.5,-2.5,1,1004186-00-0,1.040000e+16,2.050000e+16,1630,76,504000,70
4,4,798305.0,03.01.2022 21:19:58,QS,KAL11,D,SK-P-OL-COLORLESS-MATT-1630MM,110252869,Avery GRS-Plant Soignies Mactac,02.04.99/000002-00 - SK-P-OL-COLORLESS-MATT-16...,...,-2.5,-2.5,1,1004186-00-0,1.040000e+16,2.050000e+16,1630,76,504000,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16022,16022,821692.0,29.09.2022 03:03:23,QS,KAL11,A,SK-P-SD-YELLOW-GLOSS-1260MM,110278483,Avery GRS-Plant Soignies Mactac,02.04.11/000154-00 - SK-P-SD-YELLOW-GLOSS-1260...,...,21.0,21.0,1,1004185-00-0,1.040000e+16,2.040000e+16,1260,75,800500,70
16023,16023,821692.0,29.09.2022 03:03:23,QS,KAL11,A,SK-P-SD-YELLOW-GLOSS-1260MM,110278483,Avery GRS-Plant Soignies Mactac,02.04.11/000154-00 - SK-P-SD-YELLOW-GLOSS-1260...,...,-2.5,-2.5,1,1004185-00-0,1.040000e+16,2.040000e+16,1260,75,800500,70
16024,16024,821692.0,29.09.2022 03:03:23,QS,KAL11,A,SK-P-SD-YELLOW-GLOSS-1260MM,110278483,Avery GRS-Plant Soignies Mactac,02.04.11/000154-00 - SK-P-SD-YELLOW-GLOSS-1260...,...,-3.0,-3.0,1,1004185-00-0,1.040000e+16,2.040000e+16,1260,75,800500,70
16025,16025,821692.0,29.09.2022 03:03:23,QS,KAL11,A,SK-P-SD-YELLOW-GLOSS-1260MM,110278483,Avery GRS-Plant Soignies Mactac,02.04.11/000154-00 - SK-P-SD-YELLOW-GLOSS-1260...,...,-2.5,-2.5,1,1004185-00-0,1.040000e+16,2.040000e+16,1260,75,800500,70
16026,16026,821692.0,29.09.2022 03:03:23,QS,KAL11,A,SK-P-SD-YELLOW-GLOSS-1260MM,110278483,Avery GRS-Plant Soignies Mactac,02.04.11/000154-00 - SK-P-SD-YELLOW-GLOSS-1260...,...,-3.0,-3.0,1,1004185-00-0,1.040000e+16,2.040000e+16,1260,75,800500,70

In [ ]:
#importing timestamp_kris file from google drive
mel_mes=pd.read_csv('gdrive/My Drive/mel_mes.csv', encoding = 'unicode_escape', on_bad_lines='skip', delimiter=',')
mel_mes

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ï»¿,Lfd./ Q-Meldung,Datum,Abt.,Maschine,Schicht,Artikelbezeichnung,FA,Kunde,Farb-/Dekornummer,...,FA_MAX,FA_MIN,ANZAHL,PrÃ¼fplan-Nr,REZG,REZF,MAT_BREITE,MFR_WERT,MAT_OBFL,MAT_DICKE
0,0,798305.0,03.01.2022 21:19:58,QS,KAL11,D,SK-P-OL-COLORLESS-MATT-1630MM,110252869,Avery GRS-Plant Soignies Mactac,02.04.99/000002-00 - SK-P-OL-COLORLESS-MATT-16...,...,70.0,70.0,1,1004186-00-0,1.040000e+16,2.050000e+16,1630,76,504000,70
1,1,798305.0,03.01.2022 21:19:58,QS,KAL11,D,SK-P-OL-COLORLESS-MATT-1630MM,110252869,Avery GRS-Plant Soignies Mactac,02.04.99/000002-00 - SK-P-OL-COLORLESS-MATT-16...,...,70.0,70.0,1,1004186-00-0,1.040000e+16,2.050000e+16,1630,76,504000,70
2,2,798305.0,03.01.2022 21:19:58,QS,KAL11,D,SK-P-OL-COLORLESS-MATT-1630MM,110252869,Avery GRS-Plant Soignies Mactac,02.04.99/000002-00 - SK-P-OL-COLORLESS-MATT-16...,...,70.0,70.0,1,1004186-00-0,1.040000e+16,2.050000e+16,1630,76,504000,70
3,3,798305.0,03.01.2022 21:19:58,QS,KAL11,D,SK-P-OL-COLORLESS-MATT-1630MM,110252869,Avery GRS-Plant Soignies Mactac,02.04.99/000002-00 - SK-P-OL-COLORLESS-MATT-16...,...,-2.5,-2.5,1,1004186-00-0,1.040000e+16,2.050000e+16,1630,76,504000,70
4,4,798305.0,03.01.2022 21:19:58,QS,KAL11,D,SK-P-OL-COLORLESS-MATT-1630MM,110252869,Avery GRS-Plant Soignies Mactac,02.04.99/000002-00 - SK-P-OL-COLORLESS-MATT-16...,...,-2.5,-2.5,1,1004186-00-0,1.040000e+16,2.050000e+16,1630,76,504000,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16022,16022,821692.0,29.09.2022 03:03:23,QS,KAL11,A,SK-P-SD-YELLOW-GLOSS-1260MM,110278483,Avery GRS-Plant Soignies Mactac,02.04.11/000154-00 - SK-P-SD-YELLOW-GLOSS-1260...,...,21.0,21.0,1,1004185-00-0,1.040000e+16,2.040000e+16,1260,75,800500,70
16023,16023,821692.0,29.09.2022 03:03:23,QS,KAL11,A,SK-P-SD-YELLOW-GLOSS-1260MM,110278483,Avery GRS-Plant Soignies Mactac,02.04.11/000154-00 - SK-P-SD-YELLOW-GLOSS-1260...,...,-2.5,-2.5,1,1004185-00-0,1.040000e+16,2.040000e+16,1260,75,800500,70
16024,16024,821692.0,29.09.2022 03:03:23,QS,KAL11,A,SK-P-SD-YELLOW-GLOSS-1260MM,110278483,Avery GRS-Plant Soignies Mactac,02.04.11/000154-00 - SK-P-SD-YELLOW-GLOSS-1260...,...,-3.0,-3.0,1,1004185-00-0,1.040000e+16,2.040000e+16,1260,75,800500,70
16025,16025,821692.0,29.09.2022 03:03:23,QS,KAL11,A,SK-P-SD-YELLOW-GLOSS-1260MM,110278483,Avery GRS-Plant Soignies Mactac,02.04.11/000154-00 - SK-P-SD-YELLOW-GLOSS-1260...,...,-2.5,-2.5,1,1004185-00-0,1.040000e+16,2.040000e+16,1260,75,800500,70
16026,16026,821692.0,29.09.2022 03:03:23,QS,KAL11,A,SK-P-SD-YELLOW-GLOSS-1260MM,110278483,Avery GRS-Plant Soignies Mactac,02.04.11/000154-00 - SK-P-SD-YELLOW-GLOSS-1260...,...,-3.0,-3.0,1,1004185-00-0,1.040000e+16,2.040000e+16,1260,75,800500,70

In [ ]:
#importing timestamp_kris_filtered file from google drive
mel_mes_filtered=pd.read_csv('gdrive/My Drive/mel_mes_filtered.csv', encoding = 'unicode_escape', on_bad_lines='skip', delimiter=',')

mel_mes_filtered

,ï»¿,FA,PRUEFLOS,VERWMERKM,MERKMAL_TEXT,PUNKT,DATUM_ERST,SCH_MAN,SCH_DAT,AG_TYP,...,Menge(Lfm) Wertstoff,Menge(KG) Wertstoff,Rollen-Reststoff,Menge(Lfm) Reststoff,Menge(KG) Reststoff,Verursacher-Abteilung,Erl. am,BU,Fehler,Scrap+Recyclable
0,0,110252869,10000601620,D 3 AS,Foliendicke Kalander AS,03.01. 20:30 11025286900000000KK000001,1/3/2022 20:30,D,1/3/2022 0:00,KAL,...,"4,735.0",611.0,0,0.0,0.0,NaN,04.01.2022 14:33:04,20.0,NaN,3
1,1,110252869,10000601620,D 3 HS,Foliendicke Kalander HS,03.01. 20:30 11025286900000000KK000001,1/3/2022 20:30,D,1/3/2022 0:00,KAL,...,"4,735.0",611.0,0,0.0,0.0,NaN,04.01.2022 14:33:04,20.0,NaN,3
2,2,110252869,10000601620,D 3 M,Foliendicke Kalander M,03.01. 20:30 11025286900000000KK000001,1/3/2022 20:30,D,1/3/2022 0:00,KAL,...,"4,735.0",611.0,0,0.0,0.0,NaN,04.01.2022 14:33:04,20.0,NaN,3
3,3,110252869,10000601620,S70ASL7,Schrumpf lÃ¤ngs (10'/70Â°C) AS QSP,03.01. 20:30 11025286900000000KK000001,1/3/2022 20:30,D,1/3/2022 0:00,KAL,...,"4,735.0",611.0,0,0.0,0.0,NaN,04.01.2022 14:33:04,20.0,NaN,3
4,4,110252869,10000601620,S70ASL3,Schrumpf lÃ¤ngs (10'/70Â°C) AS TPK,03.01. 20:30 11025286900000000KK000001,1/3/2022 20:30,D,1/3/2022 0:00,KAL,...,"4,735.0",611.0,0,0.0,0.0,NaN,04.01.2022 14:33:04,20.0,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6936,6936,110278483,10000633763,GR85MQ3,Glanz RÃ¼ckseite quer 85Â°M TPK,29.09. 03:02 11027848300000000KK000002,9/29/2022 3:02,A,9/28/2022 0:00,KAL,...,950.0,119.0,0,0.0,0.0,NaN,29.09.2022 11:36:08,20.0,NaN,1
6937,6937,110278483,10000633763,S70ASL7,Schrumpf lÃ¤ngs (10'/70Â°C) AS QSP,29.09. 03:02 11027848300000000KK000002,9/29/2022 3:02,A,9/28/2022 0:00,KAL,...,950.0,119.0,0,0.0,0.0,NaN,29.09.2022 11:36:08,20.0,NaN,1
6938,6938,110278483,10000633763,S70ASL3,Schrumpf lÃ¤ngs (10'/70Â°C) AS TPK,29.09. 03:02 11027848300000000KK000002,9/29/2022 3:02,A,9/28/2022 0:00,KAL,...,950.0,119.0,0,0.0,0.0,NaN,29.09.2022 11:36:08,20.0,NaN,1
6939,6939,110278483,10000633763,S70HSL7,Schrumpf lÃ¤ngs (10'/70Â°C) HS QSP,29.09. 03:02 11027848300000000KK000002,9/29/2022 3:02,A,9/28/2022 0:00,KAL,...,950.0,119.0,0,0.0,0.0,NaN,29.09.2022 11:36:08,20.0,NaN,1
6940,6940,110278483,10000633763,S70HSL3,Schrumpf lÃ¤ngs (10'/70Â°C) HS TPK,29.09. 03:02 11027848300000000KK000002,9/29/2022 3:02,A,9/28/2022 0:00,KAL,...,950.0,119.0,0,0.0,0.0,NaN,29.09.2022 11:36:08,20.0,NaN,1

In [ ]:
#list(timestamp_kris.columns.values)

Unique TimeStamps where Problem with Rolls were Detected. This is giving the end time

In [ ]:
#Finding Unique timestamps
df_time=(mel_mes.groupby(['KRIS_ZEITSTEMPEL_ABSCHLAG'], as_index=False))
time=df_time.sum()
datetime=pd.to_datetime(time['KRIS_ZEITSTEMPEL_ABSCHLAG'])
datetime
#pd.to_datetime(timestamp_kris)
timestamp_kris=pd.DataFrame(datetime)
timestamp_kris

timestamp_kris.rename(columns={'KRIS_ZEITSTEMPEL_ABSCHLAG': 'date_datetime'}, inplace=True)
timestamp_kris
#list(timestamp_kris.columns.values)

           date_datetime
0    2022-01-12 10:17:00
1    2022-01-12 11:28:00
2    2022-01-12 12:10:00
3    2022-01-12 13:48:00
4    2022-01-13 13:47:00
...                  ...
1062 2022-09-24 07:47:00
1063 2022-09-29 01:59:00
1064 2022-09-29 02:26:00
1065 2022-09-06 00:50:00
1066 2022-09-06 01:51:00

[1067 rows x 1 columns]

In [ ]:
#Finding Unique timestamps
df_time=(mel_mes_filtered.groupby(['KRIS_ZEITSTEMPEL_ABSCHLAG'], as_index=False))
time=df_time.sum()
datetime=pd.to_datetime(time['KRIS_ZEITSTEMPEL_ABSCHLAG'])
datetime
#pd.to_datetime(timestamp_kris)
timestamp_kris_filtered=pd.DataFrame(datetime)
timestamp_kris_filtered

timestamp_kris_filtered.rename(columns={'KRIS_ZEITSTEMPEL_ABSCHLAG': 'date_datetime'}, inplace=True)
timestamp_kris_filtered
#list(timestamp_kris.columns.values)

          date_datetime
0   2022-01-12 10:17:00
1   2022-01-12 11:28:00
2   2022-01-12 12:10:00
3   2022-01-12 13:48:00
4   2022-01-14 10:05:00
..                  ...
437 2022-09-24 06:28:00
438 2022-09-24 07:08:00
439 2022-09-24 07:47:00
440 2022-09-29 01:59:00
441 2022-09-29 02:26:00

[442 rows x 1 columns]

In [ ]:
#Importing the result as csv in gdrive
drive.mount('/content/gdrive')
path = '/content/gdrive/My Drive/timestamp_kris.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  timestamp_kris.to_csv(f)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
#importing restrctured process data
df_new=pd.read_csv('gdrive/My Drive/output.csv')
#df_new.drop(['Unnamed: 0'], axis=1, inplace=True)
datetime=pd.to_datetime(df_new['Date'])
datetime

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (7,8,10,11,14,17,26,27,32,36,42,44,56,70,71,74,76,89,90,93,95,97,98,99,120,122,123,141,142,168,170,177,179,183,185,187,220,224,225,228,229,230,232,234,245,247,249,251,252,256,265,269,271,273,281,282,284,289,304,305,306,307,308,309,310,311,312,321,323,325,327,329,331,333,335,337,338,339,340,342,343,344,346,347,348,350,354,358,362,364,366,367,403,405,418,419,421,422,425,426,427,434,436,437,438,439,440,441,442,447,451,452,453,455,457,458,462,467,481,484,490,498,499,513,515,516,517,518,520,524) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

0        2022-01-16 00:00:00
1        2022-01-16 00:00:01
2        2022-01-16 00:00:02
3        2022-01-16 00:00:03
4        2022-01-16 00:00:04
                 ...
199988   2022-01-18 07:33:08
199989   2022-01-18 07:33:09
199990   2022-01-18 07:33:10
199991   2022-01-18 07:33:11
199992   2022-01-18 07:33:12
Name: Date, Length: 199993, dtype: datetime64[ns]

In [ ]:
df_new

,Unnamed: 0,R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut,R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut,R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut,...,R1001BA1184T631I1-Kalander 11-Prägewalze warm Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T632I1-Kalander 11-Prägewalze warm deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T641I1-Kalander 11-Prägewalze kalt Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T642I1-Kalander 11-Prägewalze kalt deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,System04_N19_M41_3ph_Strom-Hauptstation-Kalander 11 Heizung B-A11=MT+S01-Elektr.Energie-Strom-A-Absolut,System04_N19_Q21_3ph_Strom-Hauptstation-Kalander 11 Extruder B-A11=MT+S02 -Elektr.Energie-Strom-A-Absolut,System04_N21_P41_3ph_Strom-Hauptstation- Kalander 11 B-A11=MT+S03-Elektr.Energie-Strom-A-Absolut,System04_N22_M41_3ph_Strom-Hauptstation-Kalander 11 Nachfolge B-A11=MT+S04 -Elektr.Energie-Strom-A-Absolut,System04_N22_Q21_3ph_Strom-Hauptstation-Kalander 11 Walzwerk B-A11=MT+S05-Elektr.Energie-Strom-A-Absolut,Date
0,0,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"59,7","-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00:00
1,1,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"59,7","-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00:01
2,2,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"59,7","-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00:02
3,3,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"59,7","-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00:03
4,4,"106,3544","204,9436","210,1382","15,64262","1615,33","29,7","7,8","62,43",0,...,"59,7","-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199988,199988,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,59,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33:08
199989,199989,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,59,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33:09
199990,199990,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,59,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33:10
199991,199991,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,59,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33:11
199992,199992,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,59,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33:12

In [ ]:
df_new['date_datetime']=datetime
df_new

,Unnamed: 0,R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut,R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut,R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut,...,R1001BA1184T632I1-Kalander 11-Prägewalze warm deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T641I1-Kalander 11-Prägewalze kalt Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T642I1-Kalander 11-Prägewalze kalt deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,System04_N19_M41_3ph_Strom-Hauptstation-Kalander 11 Heizung B-A11=MT+S01-Elektr.Energie-Strom-A-Absolut,System04_N19_Q21_3ph_Strom-Hauptstation-Kalander 11 Extruder B-A11=MT+S02 -Elektr.Energie-Strom-A-Absolut,System04_N21_P41_3ph_Strom-Hauptstation- Kalander 11 B-A11=MT+S03-Elektr.Energie-Strom-A-Absolut,System04_N22_M41_3ph_Strom-Hauptstation-Kalander 11 Nachfolge B-A11=MT+S04 -Elektr.Energie-Strom-A-Absolut,System04_N22_Q21_3ph_Strom-Hauptstation-Kalander 11 Walzwerk B-A11=MT+S05-Elektr.Energie-Strom-A-Absolut,Date,date_datetime
0,0,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00:00,2022-01-16 00:00:00
1,1,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00:01,2022-01-16 00:00:01
2,2,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00:02,2022-01-16 00:00:02
3,3,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00:03,2022-01-16 00:00:03
4,4,"106,3544","204,9436","210,1382","15,64262","1615,33","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00:04,2022-01-16 00:00:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199988,199988,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33:08,2022-01-18 07:33:08
199989,199989,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33:09,2022-01-18 07:33:09
199990,199990,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33:10,2022-01-18 07:33:10
199991,199991,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33:11,2022-01-18 07:33:11
199992,199992,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33:12,2022-01-18 07:33:12

In [ ]:
#Getting rid of the second part in production file as seconds do not exist in erronous (mel_mes) file
df_new['Date']=[x.rsplit(":",1)[0] for x in df_new["Date"]]
df_new

,Unnamed: 0,R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut,R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut,R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut,...,R1001BA1184T632I1-Kalander 11-Prägewalze warm deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T641I1-Kalander 11-Prägewalze kalt Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T642I1-Kalander 11-Prägewalze kalt deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,System04_N19_M41_3ph_Strom-Hauptstation-Kalander 11 Heizung B-A11=MT+S01-Elektr.Energie-Strom-A-Absolut,System04_N19_Q21_3ph_Strom-Hauptstation-Kalander 11 Extruder B-A11=MT+S02 -Elektr.Energie-Strom-A-Absolut,System04_N21_P41_3ph_Strom-Hauptstation- Kalander 11 B-A11=MT+S03-Elektr.Energie-Strom-A-Absolut,System04_N22_M41_3ph_Strom-Hauptstation-Kalander 11 Nachfolge B-A11=MT+S04 -Elektr.Energie-Strom-A-Absolut,System04_N22_Q21_3ph_Strom-Hauptstation-Kalander 11 Walzwerk B-A11=MT+S05-Elektr.Energie-Strom-A-Absolut,Date,date_datetime
0,0,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00
1,1,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:01
2,2,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:02
3,3,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:03
4,4,"106,3544","204,9436","210,1382","15,64262","1615,33","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199988,199988,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:08
199989,199989,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:09
199990,199990,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:10
199991,199991,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:11
199992,199992,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:12

In [ ]:
#Converting new column 'Date' to datetime
datetime=pd.to_datetime(df_new['Date'])

In [ ]:
datetime

0        2022-01-16 00:00:00
1        2022-01-16 00:00:00
2        2022-01-16 00:00:00
3        2022-01-16 00:00:00
4        2022-01-16 00:00:00
                 ...
199988   2022-01-18 07:33:00
199989   2022-01-18 07:33:00
199990   2022-01-18 07:33:00
199991   2022-01-18 07:33:00
199992   2022-01-18 07:33:00
Name: Date, Length: 199993, dtype: datetime64[ns]

In [ ]:
df_new

,Unnamed: 0,R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut,R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut,R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut,...,R1001BA1184T632I1-Kalander 11-Prägewalze warm deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T641I1-Kalander 11-Prägewalze kalt Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T642I1-Kalander 11-Prägewalze kalt deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,System04_N19_M41_3ph_Strom-Hauptstation-Kalander 11 Heizung B-A11=MT+S01-Elektr.Energie-Strom-A-Absolut,System04_N19_Q21_3ph_Strom-Hauptstation-Kalander 11 Extruder B-A11=MT+S02 -Elektr.Energie-Strom-A-Absolut,System04_N21_P41_3ph_Strom-Hauptstation- Kalander 11 B-A11=MT+S03-Elektr.Energie-Strom-A-Absolut,System04_N22_M41_3ph_Strom-Hauptstation-Kalander 11 Nachfolge B-A11=MT+S04 -Elektr.Energie-Strom-A-Absolut,System04_N22_Q21_3ph_Strom-Hauptstation-Kalander 11 Walzwerk B-A11=MT+S05-Elektr.Energie-Strom-A-Absolut,Date,date_datetime
0,0,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00
1,1,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:01
2,2,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:02
3,3,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:03
4,4,"106,3544","204,9436","210,1382","15,64262","1615,33","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199988,199988,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:08
199989,199989,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:09
199990,199990,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:10
199991,199991,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:11
199992,199992,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:12

In [ ]:
#Inserting back the column
df_new['date_datetime']=datetime
df_new

,Unnamed: 0,R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut,R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut,R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut,...,R1001BA1184T632I1-Kalander 11-Prägewalze warm deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T641I1-Kalander 11-Prägewalze kalt Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T642I1-Kalander 11-Prägewalze kalt deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,System04_N19_M41_3ph_Strom-Hauptstation-Kalander 11 Heizung B-A11=MT+S01-Elektr.Energie-Strom-A-Absolut,System04_N19_Q21_3ph_Strom-Hauptstation-Kalander 11 Extruder B-A11=MT+S02 -Elektr.Energie-Strom-A-Absolut,System04_N21_P41_3ph_Strom-Hauptstation- Kalander 11 B-A11=MT+S03-Elektr.Energie-Strom-A-Absolut,System04_N22_M41_3ph_Strom-Hauptstation-Kalander 11 Nachfolge B-A11=MT+S04 -Elektr.Energie-Strom-A-Absolut,System04_N22_Q21_3ph_Strom-Hauptstation-Kalander 11 Walzwerk B-A11=MT+S05-Elektr.Energie-Strom-A-Absolut,Date,date_datetime
0,0,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00
1,1,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00
2,2,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00
3,3,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00
4,4,"106,3544","204,9436","210,1382","15,64262","1615,33","29,7","7,8","62,43",0,...,"-4,299999","23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199988,199988,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:00
199989,199989,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:00
199990,199990,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:00
199991,199991,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:00
199992,199992,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"-4,200001","15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:00

This to be considered

In [ ]:
#Prob 1
#merging the production data with error end roll end times in mel_mes
####acting up
error=pd.merge(df_new, timestamp_kris, on="date_datetime", how="inner")
error

,Unnamed: 0,R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut,R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut,R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut,...,R1001BA1184T632I1-Kalander 11-Prägewalze warm deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T641I1-Kalander 11-Prägewalze kalt Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T642I1-Kalander 11-Prägewalze kalt deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,System04_N19_M41_3ph_Strom-Hauptstation-Kalander 11 Heizung B-A11=MT+S01-Elektr.Energie-Strom-A-Absolut,System04_N19_Q21_3ph_Strom-Hauptstation-Kalander 11 Extruder B-A11=MT+S02 -Elektr.Energie-Strom-A-Absolut,System04_N21_P41_3ph_Strom-Hauptstation- Kalander 11 B-A11=MT+S03-Elektr.Energie-Strom-A-Absolut,System04_N22_M41_3ph_Strom-Hauptstation-Kalander 11 Nachfolge B-A11=MT+S04 -Elektr.Energie-Strom-A-Absolut,System04_N22_Q21_3ph_Strom-Hauptstation-Kalander 11 Walzwerk B-A11=MT+S05-Elektr.Energie-Strom-A-Absolut,Date,date_datetime
0,101520,"123,7224","202,1927","210,144","15,55163","1559,04",30,"7,7","62,15",0,...,"-3,100002","25,8","-1,799999","197,58","180,18","538,4","28,74","226,26",17.01.2022 04:12,2022-01-17 04:12:00
1,101521,"123,7224","202,1927","210,144","15,55163","1559,04",30,"7,7","62,15",0,...,"-3,100002","25,8","-1,799999","197,58","180,18","538,4","28,74","226,26",17.01.2022 04:12,2022-01-17 04:12:00
2,101522,"123,7224","202,1927","210,144","15,55163","1559,04",30,"7,7","62,15",0,...,"-3,100002","25,8","-1,799999","197,58","180,18","538,4","28,74","226,26",17.01.2022 04:12,2022-01-17 04:12:00
3,101523,"123,7224","202,1927","210,144","15,55163","1559,04",30,"7,7","62,15",0,...,"-3,100002","25,8","-1,799999","197,58","180,18","538,4","28,74","226,26",17.01.2022 04:12,2022-01-17 04:12:00
4,101524,"123,7224","202,1927","210,144","15,55163","1614,48",30,"7,7","63,24",0,...,"-3,100002","25,8","-1,799999","197,58","180,18","538,4","28,74","226,26",17.01.2022 04:12,2022-01-17 04:12:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,103735,"134,159","203,2371","210,144","15,65649","1635,22",30,"7,6","63,35",0,...,"-3,400002","25,8","-1,799999","190,2","199,2","559,36","32,22","233,88",17.01.2022 04:48,2022-01-17 04:48:00
116,103736,"134,159","203,2371","210,144","15,65649","1635,22",30,"7,6","63,35",0,...,"-3,400002","25,8","-1,799999","190,2","199,2","559,36","32,22","233,88",17.01.2022 04:48,2022-01-17 04:48:00
117,103737,"134,159","203,2371","210,144","15,65649","1635,22",30,"7,6","63,35",0,...,"-3,400002","25,8","-1,799999","190,2","199,2","559,36","32,22","233,88",17.01.2022 04:48,2022-01-17 04:48:00
118,103738,"134,159","203,2371","210,144","15,65649","1635,22",30,"7,6","63,35",0,...,"-3,400002","25,8","-1,799999","190,2","199,2","559,36","32,22","233,88",17.01.2022 04:48,2022-01-17 04:48:00
119,103739,"134,159","203,2371","210,144","15,65649","1635,22",30,"7,6","63,35",0,...,"-3,400002","25,8","-1,799999","190,2","199,2","559,36","32,22","233,88",17.01.2022 04:48,2022-01-17 04:48:00

In [ ]:

error['R1001BA1100X901X9-Kalander 11-Kal.11 Abschlag Auftragsmanagement-empty-empty-empty-Absolut']

0      0
1      0
2      0
3      0
4      0
      ..
115    0
116    0
117    0
118    0
119    0
Name: R1001BA1100X901X9-Kalander 11-Kal.11 Abschlag Auftragsmanagement-empty-empty-empty-Absolut, Length: 120, dtype: object

In [ ]:
error_index=error['Unnamed: 0'].values.tolist()
error_index

[101520,
 101521,
 101522,
 101523,
 101524,
 101525,
 101526,
 101527,
 101528,
 101529,
 101530,
 101531,
 101532,
 101533,
 101534,
 101535,
 101536,
 101537,
 101538,
 101539,
 101540,
 101541,
 101542,
 101543,
 101544,
 101545,
 101546,
 101547,
 101548,
 101549,
 101550,
 101551,
 101552,
 101553,
 101554,
 101555,
 101556,
 101557,
 101558,
 101559,
 101560,
 101561,
 101562,
 101563,
 101564,
 101565,
 101566,
 101567,
 101568,
 101569,
 101570,
 101571,
 101572,
 101573,
 101574,
 101575,
 101576,
 101577,
 101578,
 101579,
 103680,
 103681,
 103682,
 103683,
 103684,
 103685,
 103686,
 103687,
 103688,
 103689,
 103690,
 103691,
 103692,
 103693,
 103694,
 103695,
 103696,
 103697,
 103698,
 103699,
 103700,
 103701,
 103702,
 103703,
 103704,
 103705,
 103706,
 103707,
 103708,
 103709,
 103710,
 103711,
 103712,
 103713,
 103714,
 103715,
 103716,
 103717,
 103718,
 103719,
 103720,
 103721,
 103722,
 103723,
 103724,
 103725,
 103726,
 103727,
 103728,
 103729,
 103730,
 103731,
 103732,
 103733,
 103734,
 103735,
 103736,
 103737,
 103738,
 103739]

In [ ]:
#Filtering bit=1 (End of roll in production data)
bit=[1]
rslt_df = df_new[df_new['R1001BA1100X901X9-Kalander 11-Kal.11 Abschlag Auftragsmanagement-empty-empty-empty-Absolut'].isin(bit)] 
rslt_df

,Unnamed: 0,R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut,R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut,R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut,...,R1001BA1184T632I1-Kalander 11-Prägewalze warm deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T641I1-Kalander 11-Prägewalze kalt Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T642I1-Kalander 11-Prägewalze kalt deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,System04_N19_M41_3ph_Strom-Hauptstation-Kalander 11 Heizung B-A11=MT+S01-Elektr.Energie-Strom-A-Absolut,System04_N19_Q21_3ph_Strom-Hauptstation-Kalander 11 Extruder B-A11=MT+S02 -Elektr.Energie-Strom-A-Absolut,System04_N21_P41_3ph_Strom-Hauptstation- Kalander 11 B-A11=MT+S03-Elektr.Energie-Strom-A-Absolut,System04_N22_M41_3ph_Strom-Hauptstation-Kalander 11 Nachfolge B-A11=MT+S04 -Elektr.Energie-Strom-A-Absolut,System04_N22_Q21_3ph_Strom-Hauptstation-Kalander 11 Walzwerk B-A11=MT+S05-Elektr.Energie-Strom-A-Absolut,Date,date_datetime
582,582,"117,8259","203,5844","210,1382","15,0007","1601,13","29,8","7,8","61,72",0,...,"-4,600002","23,3","-4,5","189,12","171,06","606,08","39,12","240,96",16.01.2022 00:09,2022-01-16 00:09:00
583,583,"117,8259","203,5844","210,1382","15,0007","1601,13","29,8","7,8","61,72",0,...,"-4,600002","23,3","-4,5","189,12","171,06","606,08","39,12","240,96",16.01.2022 00:09,2022-01-16 00:09:00
2938,2938,"106,5298","205,427","210,1382","15,11491","1642,88","29,8","7,8","64,5",0,...,"-4,600002","23,8","-4,5","189,72","169,2","625,76","34,32","247,98",16.01.2022 00:48,2022-01-16 00:48:00
5266,5266,"101,1772","205,702","210,1382","15,91842","1556,96","29,6","7,8","61,46",0,...,"-4,600002","23,8","-4,5","189,42","180,42","612,16","40,74","238,8",16.01.2022 01:27,2022-01-16 01:27:00
7448,7448,"82,22709","205,3203","210,1382","14,53633","1678,03","30,1","7,8","65,04",0,...,"-4,899998","24,3","-4,199999","190,08","171,3","628,96","35,4","236,04",16.01.2022 02:04,2022-01-16 02:04:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191180,191180,"157,1177","202,6044","210,7374","16,3974","1845,28","33,6","8,1","62,63",0,...,"-4,799999","15,3","-5,3","193,74","115,8","638,24","32,88","264,36",18.01.2022 05:06,2022-01-18 05:06:00
194033,194033,"186,7182","199,9011","210,7374","15,77765","1783,05","33,2","8,1","61,89",0,...,"-4,5","15,3","-5,3","193,74","104,22","613,28","30,36","234,72",18.01.2022 05:53,2022-01-18 05:53:00
194034,194034,"186,7182","199,9011","210,7374","15,77765","1783,05","33,2","8,1","61,89",0,...,"-4,5","15,3","-5,3","193,74","104,22","613,28","30,36","234,72",18.01.2022 05:53,2022-01-18 05:53:00
194966,194966,"160,2005","201,6103","210,7374","15,57104","1999,17","35,5","8,2","63,48",0,...,"-4,200001","15,3","-5,3",204,"90,84","624,8","31,14","256,5",18.01.2022 06:09,2022-01-18 06:09:00
197771,197771,"157,7775","202,7755","210,7374","15,90643","1777,44","32,5","8,1","62,85",0,...,"-4,200001","15,3","-5,3","193,74","99,72","618,88","31,2","243,12",18.01.2022 06:56,2022-01-18 06:56:00

This is the approach as per the team

In [ ]:
#Prob 2
#merging filtered production data (bit=1) with the error data
merged=pd.merge(rslt_df, timestamp_kris, on="date_datetime", how="inner")
merged

,Unnamed: 0,R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut,R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut,R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut,...,R1001BA1184T641I1-Kalander 11-Prägewalze kalt Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T642I1-Kalander 11-Prägewalze kalt deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,System04_N19_M41_3ph_Strom-Hauptstation-Kalander 11 Heizung B-A11=MT+S01-Elektr.Energie-Strom-A-Absolut,System04_N19_Q21_3ph_Strom-Hauptstation-Kalander 11 Extruder B-A11=MT+S02 -Elektr.Energie-Strom-A-Absolut,System04_N21_P41_3ph_Strom-Hauptstation- Kalander 11 B-A11=MT+S03-Elektr.Energie-Strom-A-Absolut,System04_N22_M41_3ph_Strom-Hauptstation-Kalander 11 Nachfolge B-A11=MT+S04 -Elektr.Energie-Strom-A-Absolut,System04_N22_Q21_3ph_Strom-Hauptstation-Kalander 11 Walzwerk B-A11=MT+S05-Elektr.Energie-Strom-A-Absolut,Date,date_datetime,match
0,101547,"123,7224","202,1927","210,144","15,55163","1614,48",30,"7,7","63,24",0,...,"25,8","-1,799999","197,58","180,18","538,4","28,74","226,26",17.01.2022 04:12,2022-01-17 04:12:00,NaN
1,101548,"123,7224","202,1927","210,144","15,55163","1614,48",30,"7,7","63,24",0,...,"25,8","-1,799999","197,58","180,18","538,4","28,74","226,26",17.01.2022 04:12,2022-01-17 04:12:00,NaN
2,103723,"134,159","203,2371","210,144","15,65649","1635,22",30,"7,6","63,35",0,...,"25,8","-1,799999","190,2","199,2","559,36","32,22","233,88",17.01.2022 04:48,2022-01-17 04:48:00,NaN
3,103724,"134,159","203,2371","210,144","15,65649","1635,22",30,"7,6","63,35",0,...,"25,8","-1,799999","190,2","199,2","559,36","32,22","233,88",17.01.2022 04:48,2022-01-17 04:48:00,NaN

In [ ]:
#importing row indexes data
row_index_prod=pd.read_csv('gdrive/My Drive/df2.csv', encoding = 'unicode_escape', on_bad_lines='skip', delimiter=',')
row_index_prod

        ï»¿   Start     End
0         1       1     582
1       583     583    2938
2      5266    5266    7448
3      7449    7449    9635
4      9636    9636   11823
..      ...     ...     ...
110  186150  186150  186151
111  188662  188662  188663
112  191179  191179  191180
113  194033  194033  194034
114  194966  194966  197771

[115 rows x 3 columns]

In [ ]:
l=[]
for i in merged['Unnamed: 0']:
  for j in row_index_prod['End']:
    #for k in row_index_prod['Start']:
      if i==j:
        l.append([j])

In [ ]:
l=pd.DataFrame(l)
l['End']=l[0]

        0     End
0  101548  101548
1  103723  103723

In [ ]:
search=pd.merge(l, row_index_prod, on="End", how="inner")
search=search.drop('ï»¿', axis=1)
search=search.drop(0, axis=1)
search

      End   Start
0  101548  101547
1  103723  102633

In [ ]:
#Start and end index of erronous row indexes in production data
search[['Start','End']]

    Start     End
0  101547  101548
1  102633  103723

+++++++++++++++++End+++++++++++++++++++++++

We see above that the end time on the error report in not synonimous to the end time in the production data

In [ ]:
#Prob 3
#merging the production data with filtered error end roll end times in mel_mes
####no_result
pd.merge(df_new, timestamp_kris_filtered, on="date_datetime", how="inner")

Empty DataFrame
Columns: [Unnamed: 0, R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut, R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut, R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut, R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut, R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut, R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut, R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut, R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut, R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut, R1001_Kal_11_KW24_GRDC_RL_Temperatur-empty-Kal.11 KW24°C-Kühlwasser 24°C-Temperatur-°C-Absolut, R1001_Kal_11_KW24_GRDC_VL_Temperatur-empty-Kal.11 KW24°C-Kühlwasser 24°C-Temperatur-°C-Absolut, R1001_Kal_11_KW24_GRDC_Volumenstrom-empty-Kal.11 KW24°C-Kühlwasser 24°C-Volumenstrom-m³/h-Absolut, R1001_Kal_11_MD130_GRDC_Leistung-empty-Kal.11 MD130°C-Heisswasser 130°C-Leistung-kW-Absolut, R1001_Kal_11_MD130_GRDC_RL_Temperatur-empty-Kal.11 MD130°C-Heisswasser 130°C-Temperatur-°C-Absolut, R1001_Kal_11_MD130_GRDC_VL_Temperatur-empty-Kal.11 MD130°C-Heisswasser 130°C-Temperatur-°C-Absolut, R1001_Kal_11_MD130_GRDC_Volumenstrom-empty-Kal.11 MD130°C-Heisswasser 130°C-Volumenstrom-m³/h-Absolut, R1001BA1100T001I1-Kalander 11-Kalander 11 E-Raum Schaltraumtemperatur Ist-empty-Temperatur-°C-Absolut, R1001BA1100X120M0-Kalander 11-Kal. 11 Status Anlage bereit zum Start-empty-empty-empty-Absolut, R1001BA1100X122M0-Kalander 11-Kal. 11 Status Anlage gesperrt-empty-empty-empty-Absolut, R1001BA1100X123M0-Kalander 11-Kal. 11 Status Anlage in Betrieb-empty-empty-empty-Absolut, R1001BA1100X124M0-Kalander 11-Kal. 11 Status Anlage manuell gestoppt-empty-empty-empty-Absolut, R1001BA1100X125M0-Kalander 11-Kal. 11 Status Anlage gestoppt durch Störung-empty-empty-empty-Absolut, R1001BA1100X142M0-Kalander 11-Kal. 11 Status Produktion läuft-empty-empty-empty-Absolut, R1001BA1100X151M0-Kalander 11-Kal. 11 Dickenmessung aktiv-empty-empty-empty-Absolut, R1001BA1100X152M0-Kalander 11-Kal. 11 Dickenmessung gestört-empty-empty-empty-Absolut, R1001BA1100X901X9-Kalander 11-Kal.11 Abschlag Auftragsmanagement-empty-empty-empty-Absolut, R1001BA1101E101I1-B11-Extr. Trichter 1 Ist Motorstrom -empty-Strom-A-Absolut, R1001BA1101E102I1-B11-Extr. Hauptantrieb Ist Motorstrom -empty-Strom-A-Absolut, R1001BA1101E111I1-B11-Extr. Gehäuse Ist Temperierung -empty-Strom-A-Absolut, R1001BA1101E112I1-B11-Extr. Schnecke Ist Temperierung -empty-Strom-A-Absolut, R1001BA1101E201I1-B11-Extr. Trichter 2 Ist Motorstrom -empty-Strom-A-Absolut, R1001BA1101S101I1-B11-Extr. Trichter 1 Ist -empty-Drehzahl -U/min-Absolut, R1001BA1101S101W1-B11-Extr. Trichter 1 Soll 1-empty-Drehzahl -U/min-Absolut, R1001BA1101S102I1-B11-Extr. Hauptantrieb Ist -empty-Drehzahl -U/min-Absolut, R1001BA1101S102W1-B11-Extr. Hauptantrieb Soll 1-empty-Drehzahl -U/min-Absolut, R1001BA1101S202I1-B11-Extr. Trichter 2 Ist -empty-Drehzahl -U/min-Absolut, R1001BA1101S202W1-B11-Extr. Trichter 2 Soll 1-empty-Drehzahl -U/min-Absolut, R1001BA1101T101I1-B11-Extr. Gehäuse Ist -empty-Temperatur-°C-Absolut, R1001BA1101T101I2-Kalander 11-Extruder Gehäuse Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1101T101I3-Kalander 11-Extruder Gehäuse deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1101T101W1-B11-Extr. Gehäuse Soll 1 -empty-Temperatur-°C-Absolut, R1001BA1101T102I1-B11-Extr. Schnecke Ist -empty-Temperatur-°C-Absolut, R1001BA1101T102I2-Kalander 11-Extruder Schnecke Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1101T102I3-Kalander 11-Extruder Schnecke deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1101T102W1-B11-Extr. Schnecke Soll 1 -empty-Temperatur-°C-Absolut, R1001BA1101U101I1-Kalander 11-Extruder Gehäuse Pumpen Leistung FU-HK-Gerät-Leistung-kW-Absolut, R1001BA1101U101I2-Kalander 11-Extruder Gehäuse Pumpen Leistung Ist-HK-Gerät-Leistung-kW-Absolut, R1001BA1101U102I1-Kalander 11-Extruder Schnecke Pumpen Leistung FU-HK-Gerät-Leistung-kW-Absolut, R1001BA1101U102I2-Kalander 11-Extruder Schnecke Pumpen Leistung Ist-HK-Gerät-Leistung-kW-Absolut, R1001BA1101X101B1-Kalander 11-Extruder Gehäuse Temperierung Ventil-HK-Gerät-empty-empty-Absolut, R1001BA1101X101W1-Kalander 11-Extruder Gehäuse Stellsignal FU Soll 1-HK-Gerät-keine-%-Absolut, R1001BA1101X101Y1-Kalander 11-Extruder Gehäuse Temperierung kühlen/heizen-HK-Gerät-keine-%-Absolut, R1001BA1101X101Y2-Kalander 11-Extruder Gehäuse Stellsignal FU Ist-HK-Gerät-keine-%-Absolut, R1001BA1101X102B1-Kalander 11-Extruder Schnecke Temperierung Ventil-HK-Gerät-empty-empty-Absolut, R1001BA1101X102W1-Kalander 11-Extruder Schnecke Stellsignal FU Soll 1-HK-Gerät-keine-%-Absolut, R1001BA1101X102Y1-Kalander 11-Extruder Schnecke Temperierung kühlen/heizen-HK-Gerät-keine-%-Absolut, R1001BA1101X102Y2-Kalander 11-Extruder Schnecke Stellsignal FU Ist-HK-Gerät-keine-%-Absolut, R1001BA1102S101I1-B11-Band Extr. -> Walzw. Ist-empty-Geschwindigkeit-m/min-Absolut, R1001BA1102S101W1-B11-Band Extr. -> Walzw. Soll 1-empty-Geschwindigkeit-m/min-Absolut, R1001BA1103E101I1-B11-Walzw. Walze 1 Ist Motorstrom-empty-Strom-A-Absolut, R1001BA1103E111I1-B11-Walzw. Walze 1 Ist Temperierung -empty-Strom-A-Absolut, R1001BA1103E201I1-B11-Walzw. Walze 2 Ist Motorstrom-empty-Strom-A-Absolut, R1001BA1103E211I1-B11-Walzw. Walze 2 Ist Temperierung -empty-Strom-A-Absolut, R1001BA1103G101W1-B11-Walzwerk Soll 1 SpaltVerstell. AS -empty-Weg-mm-Absolut, R1001BA1103G102W1-B11-Walzwerk Soll 1 SpaltVerstell. HS -empty-Weg-mm-Absolut, R1001BA1103S101I1-B11-Walzw. Walze 1 Ist-empty-Geschwindigkeit-m/min-Absolut, R1001BA1103S101W1-B11-Walzw. Walze 1 Soll 1-empty-Geschwindigkeit-m/min-Absolut, R1001BA1103S201I1-B11-Walzw. Walze 2 Ist-empty-Geschwindigkeit-m/min-Absolut, R1001BA1103S201W1-B11-Walzw. Walze 2 Soll 1-empty-Geschwindigkeit-m/min-Absolut, R1001BA1103T101I1-B11-Walzw. Walze 1 Ist -empty-Temperatur-°C-Absolut, R1001BA1103T101I2-Kalander 11-Walzwerk Walze 1 Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1103T101I3-Kalander 11-Walzwerk Walze 1 deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1103T101W1-B11-Walzw. Walze 1 Soll 1 -empty-Temperatur-°C-Absolut, R1001BA1103T201I1-B11-Walzw. Walze 2 Ist -empty-Temperatur-°C-Absolut, R1001BA1103T201I2-Kalander 11-Walzwerk Walze 2 Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1103T201I3-Kalander 11-Walzwerk Walze 2 deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1103T201W1-B11-Walzw. Walze 2 Soll 1 -empty-Temperatur-°C-Absolut, R1001BA1103U101I1-Kalander 11-Walzwerk Walze 1 Pumpen Leistung FU-HK-Gerät-Leistung-kW-Absolut, R1001BA1103U101I2-Kalander 11-Walzwerk Walze 1 Pumpen Leistung Ist-HK-Gerät-Leistung-kW-Absolut, R1001BA1103U201I1-Kalander 11-Walzwerk Walze 2 Pumpen Leistung FU-HK-Gerät-Leistung-kW-Absolut, R1001BA1103U201I2-Kalander 11-Walzwerk Walze 2 Pumpen Leistung Ist-HK-Gerät-Leistung-kW-Absolut, R1001BA1103X101B1-Kalander 11-Walzwerk Walze 1 Temperierung Ventil-HK-Gerät-empty-empty-Absolut, R1001BA1103X101W1-Kalander 11-Walzwerk Walze 1 Stellsignal FU Soll 1-HK-Gerät-keine-%-Absolut, R1001BA1103X101Y1-Kalander 11-Walzwerk Walze 1 Temperierung kühlen/heizen-HK-Gerät-keine-%-Absolut, R1001BA1103X101Y2-Kalander 11-Walzwerk Walze 1 Stellsignal FU Ist-HK-Gerät-keine-%-Absolut, R1001BA1103X201B1-Kalander 11-Walzwerk Walze 2 Temperierung Ventil-HK-Gerät-empty-empty-Absolut, R1001BA1103X201W1-Kalander 11-Walzwerk Walze 2 Stellsignal FU Soll 1-HK-Gerät-keine-%-Absolut, R1001BA1103X201Y1-Kalander 11-Walzwerk Walze 2 Temperierung kühlen/heizen-HK-Gerät-keine-%-Absolut, R1001BA1103X201Y2-Kalander 11-Walzwerk Walze 2 Stellsignal FU Ist-HK-Gerät-keine-%-Absolut, R1001BA1104S101I1-B11-Band Walzw. -> Schwenkb. Ist-empty-Geschwindigkeit-m/min-Absolut, R1001BA1104S101W1-B11-Band Walzw. -> Schwenkb. Soll 1-empty-Geschwindigkeit-m/min-Absolut, R1001BA1104T101I2-Kalander 11-Kalanderwalze Walze 1 Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1104T101I3-Kalander 11-Kalanderwalze Walze 1 deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1104T201I2-Kalander 11-Kalanderwalze Walze 2 Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1104T201I3-Kalander 11-Kalanderwalze Walze 2 deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1104T301I2-Kalander 11-Kalanderwalze Walze 3 Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1104T301I3-Kalander 11-Kalanderwalze Walze 3 deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1104T401I2-Kalander 11-Kalanderwalze Walze 4 Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut, R1001BA1104T401I3-Kalander 11-Kalanderwalze Walze 4 deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut, ...]
Index: []

[0 rows x 528 columns]

In [ ]:
# #lookup
# s=timestamp_kris

# out = (df_new
#  .assign(Date=df_new['Date'].str.casefold())
#  # identify the erronous values by merging 
#  .merge(timestamp_kris.assign(**{'Matched_Date': 'The erroronous roll ended here'}),
#           how='left')
#  #
# .assign(**{'Date': lambda d: df_new['Date'].mask(d['Matched_Date'].isna()).fillna(df_new['Date'].map(s).mask(df_new['Date'].isna())),
#  # 
#             'Matched_Date': lambda d: d['Matched_Date'].fillna(df_new['Date'].fillna('Date Not Provided'))})
 
#  )

In [ ]:
#df_new.merge(timestamp_kris, on='Date', how='left')

In [ ]:
#df_new['match']=df_new['date_datetime'].apply(lambda x: timestamp_kris[x])

In [ ]:
#df_new['match']=np.where(df_new['date_datetime'].apply(lambda x: timestamp_kris[x])

In [ ]:
# 'def match():
#   for i in (timestamp_kris['date_datetime']):
#     for j in df_new['date_datetime']:
#       if i==j:
#         df_new.loc[df_new['match']="The erronous roll ended here"
#       #else:
#         #df_new.loc[df_new['match']=""  '

In [ ]:
df_new['match']=pd.DataFrame(columns=['match'])
df_new

,Unnamed: 0,R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut,R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut,R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut,...,R1001BA1184T641I1-Kalander 11-Prägewalze kalt Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T642I1-Kalander 11-Prägewalze kalt deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,System04_N19_M41_3ph_Strom-Hauptstation-Kalander 11 Heizung B-A11=MT+S01-Elektr.Energie-Strom-A-Absolut,System04_N19_Q21_3ph_Strom-Hauptstation-Kalander 11 Extruder B-A11=MT+S02 -Elektr.Energie-Strom-A-Absolut,System04_N21_P41_3ph_Strom-Hauptstation- Kalander 11 B-A11=MT+S03-Elektr.Energie-Strom-A-Absolut,System04_N22_M41_3ph_Strom-Hauptstation-Kalander 11 Nachfolge B-A11=MT+S04 -Elektr.Energie-Strom-A-Absolut,System04_N22_Q21_3ph_Strom-Hauptstation-Kalander 11 Walzwerk B-A11=MT+S05-Elektr.Energie-Strom-A-Absolut,Date,date_datetime,match
0,0,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00,NaN
1,1,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00,NaN
2,2,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00,NaN
3,3,"106,3544","204,9436","210,1382","15,64262","1578,88","29,7","7,8","62,43",0,...,"23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00,NaN
4,4,"106,3544","204,9436","210,1382","15,64262","1615,33","29,7","7,8","62,43",0,...,"23,3","-4,799999","190,08","171,78","604,16","33,06","239,7",16.01.2022 00:00,2022-01-16 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199988,199988,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:00,NaN
199989,199989,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:00,NaN
199990,199990,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:00,NaN
199991,199991,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:00,NaN
199992,199992,"160,7357","202,5581","210,7374","18,53226","1973,28","34,3",8,"65,02",0,...,"15,3","-5,3","192,72","90,78","610,88","31,08","248,7",18.01.2022 07:33,2022-01-18 07:33:00,NaN

In [ ]:
#Filtering bit=1 (End of roll in production data)
bit=[1]
rslt_df = df_new[df_new['R1001BA1100X901X9-Kalander 11-Kal.11 Abschlag Auftragsmanagement-empty-empty-empty-Absolut'].isin(bit)] 
rslt_df

,Unnamed: 0,R1001_Kal_11_HW220_GRDC_Leistung-empty-Kal.11 HW220°C-Heisswasser 220°C-Leistung-kW-Absolut,R1001_Kal_11_HW220_GRDC_RL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_VL_Temperatur-empty-Kal.11 HW220°C-Heisswasser 220°C-Temperatur-°C-Absolut,R1001_Kal_11_HW220_GRDC_Volumenstrom-empty-Kal.11 HW220°C-Heisswasser 220°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW07_GRDC_Leistung-empty-Kal.11 KW07°C-Kühlwasser 7°C-Leistung-kW-Absolut,R1001_Kal_11_KW07_GRDC_RL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_VL_Temperatur-empty-Kal.11 KW07°C-Kühlwasser 7°C-Temperatur-°C-Absolut,R1001_Kal_11_KW07_GRDC_Volumenstrom-empty-Kal.11 KW07°C-Kühlwasser 7°C-Volumenstrom-m³/h-Absolut,R1001_Kal_11_KW24_GRDC_Leistung-empty-Kal.11 KW24°C-Kühlwasser 24°C-Leistung-kW-Absolut,...,R1001BA1184T641I1-Kalander 11-Prägewalze kalt Rücklauftemp. Ist -HK-Gerät-Temperatur-°C-Absolut,R1001BA1184T642I1-Kalander 11-Prägewalze kalt deltaT VL-RL Ist -HK-Gerät-Temperatur-°C-Absolut,System04_N19_M41_3ph_Strom-Hauptstation-Kalander 11 Heizung B-A11=MT+S01-Elektr.Energie-Strom-A-Absolut,System04_N19_Q21_3ph_Strom-Hauptstation-Kalander 11 Extruder B-A11=MT+S02 -Elektr.Energie-Strom-A-Absolut,System04_N21_P41_3ph_Strom-Hauptstation- Kalander 11 B-A11=MT+S03-Elektr.Energie-Strom-A-Absolut,System04_N22_M41_3ph_Strom-Hauptstation-Kalander 11 Nachfolge B-A11=MT+S04 -Elektr.Energie-Strom-A-Absolut,System04_N22_Q21_3ph_Strom-Hauptstation-Kalander 11 Walzwerk B-A11=MT+S05-Elektr.Energie-Strom-A-Absolut,Date,date_datetime,match
582,582,"117,8259","203,5844","210,1382","15,0007","1601,13","29,8","7,8","61,72",0,...,"23,3","-4,5","189,12","171,06","606,08","39,12","240,96",16.01.2022 00:09,2022-01-16 00:09:00,NaN
583,583,"117,8259","203,5844","210,1382","15,0007","1601,13","29,8","7,8","61,72",0,...,"23,3","-4,5","189,12","171,06","606,08","39,12","240,96",16.01.2022 00:09,2022-01-16 00:09:00,NaN
2938,2938,"106,5298","205,427","210,1382","15,11491","1642,88","29,8","7,8","64,5",0,...,"23,8","-4,5","189,72","169,2","625,76","34,32","247,98",16.01.2022 00:48,2022-01-16 00:48:00,NaN
5266,5266,"101,1772","205,702","210,1382","15,91842","1556,96","29,6","7,8","61,46",0,...,"23,8","-4,5","189,42","180,42","612,16","40,74","238,8",16.01.2022 01:27,2022-01-16 01:27:00,NaN
7448,7448,"82,22709","205,3203","210,1382","14,53633","1678,03","30,1","7,8","65,04",0,...,"24,3","-4,199999","190,08","171,3","628,96","35,4","236,04",16.01.2022 02:04,2022-01-16 02:04:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191180,191180,"157,1177","202,6044","210,7374","16,3974","1845,28","33,6","8,1","62,63",0,...,"15,3","-5,3","193,74","115,8","638,24","32,88","264,36",18.01.2022 05:06,2022-01-18 05:06:00,NaN
194033,194033,"186,7182","199,9011","210,7374","15,77765","1783,05","33,2","8,1","61,89",0,...,"15,3","-5,3","193,74","104,22","613,28","30,36","234,72",18.01.2022 05:53,2022-01-18 05:53:00,NaN
194034,194034,"186,7182","199,9011","210,7374","15,77765","1783,05","33,2","8,1","61,89",0,...,"15,3","-5,3","193,74","104,22","613,28","30,36","234,72",18.01.2022 05:53,2022-01-18 05:53:00,NaN
194966,194966,"160,2005","201,6103","210,7374","15,57104","1999,17","35,5","8,2","63,48",0,...,"15,3","-5,3",204,"90,84","624,8","31,14","256,5",18.01.2022 06:09,2022-01-18 06:09:00,NaN
197771,197771,"157,7775","202,7755","210,7374","15,90643","1777,44","32,5","8,1","62,85",0,...,"15,3","-5,3","193,74","99,72","618,88","31,2","243,12",18.01.2022 06:56,2022-01-18 06:56:00,NaN

In [ ]:
#Working so far but not returning row index
match=[]
for i in (timestamp_kris['date_datetime']):
  for j in df_new['date_datetime']:
    if i==j:
      match.append('The erronous roll ends here') 
    #else:
      #print("no match")

In [ ]:
#No of elements in match
len(match)

120

In [ ]:
# match=[]
# for i in (timestamp_kris['date_datetime']):
#   for j in df_new['date_datetime']:
#     if i==j:
#       match.append(df_new.index[df_new['date_datetime']].tolist())
#     #else:
#       #print("no match")

In [ ]:
# #Detecting index but all indexes
# match=[]
# for i in (timestamp_kris['date_datetime']):
#   for j in df_new['date_datetime']:
#     if i==j:
#       match.append(df_new.index)

In [ ]:
match

['The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here',
 'The erronous roll ends here']

In [ ]:
for index, row in df_new['date_datetime'].iterrows():
  for i in (timestamp_kris['date_datetime']):
    if i==row:
      df_new['match'].loc[index]=row

AttributeError: ignored

In [ ]:
pd.DataFrame(match)

In [ ]:
#Checking if match only contains 0 or the logic above worked
if match and all(elem == 'The erronous roll ends here' for elem in match):
    print("Only 0 is in the match")
else:
  print("Other elements exist")
####Success!!!!

In [ ]:
#Problem not with iteration but converting the list pd.DataFrame(match)

In [ ]:
#Checking if there is actually a match
bit=[1]
rslt_df = df_new[df_new['R1001BA1100X901X9-Kalander 11-Kal.11 Abschlag Auftragsmanagement-empty-empty-empty-Absolut'].isin(bit)] 
rslt_df

In [ ]:
#Checking if there is a match
merged=pd.merge(rslt_df, timestamp_kris, on="date_datetime", how="inner")
merged

In [ ]:
pd.merge(df_new, timestamp_kris, on="date_datetime", how="inner")
#error_index=error['Unnamed: 0']

In [ ]:
error

In [ ]:
error_index.values.tolist()